<div class="about-container">
  <h1>À propos</h1>
  
  <div class="about-content">
    <h2>Développeur</h2>
    <div class="contact-info">
      <p><strong>Nom :</strong> COURTESSOLE Adrien</p>
      <p><strong>Email :</strong> <a href="mailto:adrien.courtessole&#64;edu.igensia.com">adrien.courtessole&#64;edu.igensia.com</a></p>
    </div>
    
    <h2>À propos du projet</h2>
    <p>TaskBoard Pro est une application développée avec Angular 20.</p>
    
    <h2>Technologies utilisées</h2>
    <ul>
      <li>Angular 20</li>
      <li>TypeScript</li>
      <li>CSS</li>
    </ul>
  </div>
</div>
